@font-face {
  font-family: "pokemon";
  src: url("/images/fonts/pokemon-font.ttf");
}

.Battle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(/images/maps/battle.png);
  background-size: contain;
  image-rendering: pixelated;
}

.hero_hp {
  position: absolute;
  z-index: 10;
  bottom: 18.5px;
  right: -29.5px;
  scale: 70%;
}

.rival_hp {
  position: absolute;
  z-index: 10;
  top: 4px;
  left: -29px;
  scale: 70%;
}

.hero_lv {
  position: absolute;
  bottom: 48px;
  right: 12.5px;
  z-index: 20;
  font-weight: bold;
  font-size: 6.5px;
  opacity: 70%;
}

.rival_lv {
  position: absolute;
  top: 15.5px;
  left: 58px;
  z-index: 20;
  font-weight: bold;
  font-size: 6.5px;
  opacity: 70%;
}
