@font-face {
  font-family: "pokemon";
  src: url("/images/fonts/pokemon-font.ttf");
}

.keyboardMenu {
  position: absolute;
  right: 15px;
  bottom: 5px;
  z-index: 30;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  gap: 0.5px;
}

.keyboardMenu button {
  width: 35px;
  height: 11.5px;
  font-family: "pokemon";
  font-weight: bold;
  font-size: 6.5px;
  outline: none;
  border: 1px solid gray;
  background: white;
  border-radius: 20px;
}

.keyboardMenu button:focus {
  background: gray;
  color: white;
}

.option {
  display: flex;
}

.battleMessage {
  width: 50%;
}

.hidden {
  visibility: hidden;
}
