@font-face {
  font-family: "pokemon";
  src: url("/images/fonts/pokemon-font.ttf");
}

.pokemon_name {
  font-family: "pokemon";
  font-size: 8px;
  opacity: 70%;
}

.pokemon[data-team="hero"] .pokemon_name {
  position: absolute;
  bottom: 45.5px;
  right: 40px;
  z-index: 30;
}

.pokemon[data-team="rival"] .pokemon_name {
  position: absolute;
  top: 13.5px;
  left: 4px;
  z-index: 30;
}

.pokemon_hp {
  position: absolute;
  width: 34.5px;
  height: 2.5px;
  z-index: 30;
}

.pokemon[data-team="hero"] .pokemon_hp {
  bottom: 49px;
  right: 5.25px;
}

.pokemon[data-team="rival"] .pokemon_hp {
  top: 32.5px;
  left: 34.5px;
}

.pokemon[data-team="hero"] .pokemon_currHp {
  position: absolute;
  bottom: 34px;
  right: 15px;
  z-index: 30;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 6.5px;
  opacity: 70%;
}

.pokemon[data-team="rival"] .pokemon_currHp {
  display: none;
}

.pokemon_hp > rect {
  transition: width 0.2s;
}

.pokemon[data-team="hero"] .pokemon_xp {
  position: absolute;
  bottom: 38px;
  right: 5px;
  z-index: 30;
  height: 2px;
}

.pokemon[data-team="rival"] .pokemon_xp {
  display: none;
}

.pokemon_sprite[data-team="hero"] {
  position: absolute;
  bottom: 15.5px;
  left: 6px;
  scale: 60%;
}

.pokemon_sprite[data-team="rival"] {
  position: absolute;
  top: 6px;
  right: 2px;
  scale: 75%;
}
