@font-face {
  font-family: "pokemon";
  src: url("/images/fonts/pokemon-font.ttf");
}

.pokemon_name {
  font-family: "pokemon";
  font-size: 8px;
  opacity: 70%;
}

.pokemon[data-team="hero"] .pokemon_name {
  position: absolute;
  bottom: 45.5px;
  right: 40px;
  z-index: 30;
}

.pokemon[data-team="rival"] .pokemon_name {
  position: absolute;
  top: 13.5px;
  left: 4px;
  z-index: 30;
}

.pokemon_hp {
  position: absolute;
  width: 34.5px;
  height: 2.5px;
  z-index: 30;
}

.pokemon[data-team="hero"] .pokemon_hp {
  bottom: 49px;
  right: 5.25px;
}

.pokemon[data-team="rival"] .pokemon_hp {
  top: 32.5px;
  left: 34.5px;
}

.pokemon_hp > rect {
  transition: width 0.2s;
}

.pokemon_xp {
  position: absolute;
  left: 20px;
  top: 8px;
  z-index: 30;
  width: 26px;
  height: 2px;
}