@font-face {
  font-family: "pokemon";
  src: url("/images/fonts/pokemon-font.ttf");
}

.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  margin-bottom: -3px;
  padding: 7px 10px;
  background-image: url("/images/other/textbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.TextMessage_p {
  margin: 0;
  font-family: "pokemon";
  opacity: 65%;
  line-height: 11px;
  font-size: 9px;
  margin-right: 8px;
}

.TextMessage_button {
  margin: 0;
  font-size: 8px;
  padding: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  color: white;

  position: absolute;
  right: 6px;
  bottom: 6px;
}
