@font-face {
  font-family: "pokemon";
  src: url("/images/fonts/pokemon-font.ttf");
}

.textMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  margin-bottom: -3px;
  padding: 7px 10px;
  background-image: url("/images/other/textbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textMessage_p {
  margin: 0;
  font-family: "pokemon";
  opacity: 65%;
  line-height: 11px;
  font-size: 9px;
  margin-right: 8px;
}

.textMessage span {
  opacity: 0;
}

.textMessage_menu {
  position: absolute;
  z-index: 50;
  opacity: 0;
}

.textMessage_button {
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;

  animation: floating 0.75s ease-in-out infinite;

  position: absolute;
  right: 6px;
  bottom: 7px;

  opacity: 0;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 1px); }
  100%   { transform: translate(0, 0px); }   
}

.textMessage .revealed {
  opacity: 1;
}
